/* Color Palette */
@define-color bg #1e1e2e;
@define-color fg #cdd6f4;
@define-color highlight #89b4fa;
@define-color critical #f38ba8;

* {
  font-family: "JetBrainsMono Nerd Font", Roboto, Helvetica, Arial, sans-serif;
  font-size: 14px;
  border: none;
  border-radius: 0;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.8);
  color: @fg;
  transition-property: background-color;
  transition-duration: .5s;
}

/* Common Module Styling */
#workspaces,
#clock,
#wireplumber,
#temperature,
#network,
#bluetooth,
#memory,
#cpu {
  padding: 0 12px;
  margin: 4px 2px;
  background-color: #313244;
  border-radius: 8px;
}

/* Individual Module Adjustments */
#workspaces button {
  padding: 0 5px;
  color: @fg;
}
#workspaces button.focused {
  color: @highlight;
}
#workspaces button:hover {
  background: rgb(41, 42, 53);
  border-radius: 8px;
}

#clock {
  background-color: @bg;
  color: @highlight;
  padding: 0 16px;
  margin: 4px 0;
  border: 1px solid rgba(137, 180, 250, 0.2);
  border-radius: 12px;
  font-family: "JetBrainsMono Nerd Font", "Roboto Mono", monospace;
}

#cpu { color: #fab387; }
#memory { color: #a6e3a1; }
#temperature { color: #f9e2af; }
#wireplumber { color: #89b4fa; }
#network { color: #b4befe; }
#bluetooth { color: #f5c2e7; }

#temperature.critical {
  color: @critical;
}

/* Global Tooltip Style */
tooltip {
  background: rgba(30, 30, 46, 0.95);
  border-radius: 12px;
  border: 1px solid @highlight;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

/* Icons styling */
label > span {
  font-size: 16px;
  padding-right: 4px;
}
